<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> comTWEET CreatePost</title>
</head>
<body>
    <form action="/create" method="post" enctype="multipart/form-data">
    
    <input type="text" name="username" placeholder="username">
    <input type="text" name="blogtitle" placeholder="blogtitle">
    <input type="text" name="blogcontent" placeholder="blogcontent">
    <input type="file" name="imageUploaded">
     <button>create</button>
     
     </form>
</body>
</html>